/* Global Styles */
html,body { background:#fefebb; }

/* Styles for CodeMirror */
.CodeMirror-scroll{
	background:rgba(255,255,255,0.5);
	box-shadow:rgba(0,0,0,0.3) 0 0 20px inset;
}
.CodeMirror-completions {
  border:1px solid rgba(124,122,12,1);
  box-shadow: 2px 3px 5px rgba(0,0,0,.4);
}
.CodeMirror-completions select {
  background: #fff;
}
.CodeMirror .activeline{
	background:#eec;
}

/* Styles for options page */
.ui-widget-content { background: #efefba; }
.tooltip { 	background: #ffffff; }
h1 { color:#444; }
table#main {
	border-collapse:collapse;
	vertical-align:top;
	box-shadow: rgba(0,0,0,0.1) 0 -10px 20px;
	border-bottom:silver 1px solid;
}
.jstbox {
	border-bottom:1px solid rgba(0,0,0,0.2);
	border-top:1px solid white;
	background:#efefba;
	text-shadow:white 0 1px;			
	-webkit-transition: background-color 0.2s linear, margin 0.2s linear;
}
.jstbox:hover { background:  rgba(247,223,29,0.5); }
.jstbox.selected { background: rgba(247,223,29,1); }
#jstmessage {
	background:rgba(247,223,29,1);
	box-shadow:rgba(0,0,0,0.4) 0 3px 10px;
	border:1px solid rgba(147,123,19,1);
}
#contentscript-menu .jstbox.contentScriptKey .group { color: #aaaaaa; }
.jstmessage.ok { color:white; background:green;	}
.jstmessage.error { color:white; background:red; }
.hiddenFlag { color:#999; }
input[type=button] {
	border:1px solid rgba(124,122,12,1);
	background-color:rgba(247,223,29,1); 
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b));
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset;
	text-shadow:rgba(255,255,255,0.6) 0 1px;
}
input[type=button]:active {
	box-shadow: rgba(0,0,0,0.2) 0 1px 2px inset,rgba(255,255,255,1) 0 -1px 2px inset,rgba(255,255,255,1) 0 0px 15px;
	background-color:rgba(227,203,09,1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ebc6), color-stop(50%,#e7d069), color-stop(51%,#dfbc21), color-stop(100%,#efe1a3));
}
div.tabs > ul li {
	border:1px solid rgba(124,122,12,1);
	background-color:rgba(227,203,09,1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ebc6), color-stop(50%,#e7d069), color-stop(51%,#dfbc21), color-stop(100%,#efe1a3));
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset;			padding:0px 10px;
	text-shadow:rgba(255,255,255,0.6) 0 1px;	
}
div.tabs > ul li.selected {
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b));
	background-color:rgba(247,223,29,1);
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset,rgba(255,255,255,1) 0 0px 15px;
}
#dcsindexup { background: url('img/arrow_up.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); }
#dcsindexdown { background: url('img/arrow_down.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); }
#json-viewer-tabs .ui-tabs-panel { background-color: #efefba; }

/* Styles for popup window */

#title {
	background-color: yellow;
}
input[type=button] {
	background-color:rgba(247,223,29,1); 
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b));
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset;
	text-shadow:rgba(255,255,255,0.6) 0 1px;
}
input[type=button]:active {
	box-shadow: rgba(0,0,0,0.2) 0 1px 2px inset,rgba(255,255,255,1) 0 -1px 2px inset,rgba(255,255,255,1) 0 0px 15px;
	background-color:rgba(227,203,09,1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ebc6), color-stop(50%,#e7d069), color-stop(51%,#dfbc21), color-stop(100%,#efe1a3));
}
#tabs > ul li {
	border:1px solid rgba(124,122,12,1);
	background-color:rgba(227,203,09,1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ebc6), color-stop(50%,#e7d069), color-stop(51%,#dfbc21), color-stop(100%,#efe1a3));
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset;
	text-shadow:rgba(255,255,255,0.6) 0 1px;
}
#tabs > ul li.selected {
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b));
	background-color:rgba(247,223,29,1);
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset,rgba(255,255,255,1) 0 0px 15px;
}
li.tab-title {
	border:1px solid rgba(124,122,12,1);
	background-color:rgba(227,203,09,1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ebc6), color-stop(50%,#e7d069), color-stop(51%,#dfbc21), color-stop(100%,#efe1a3));
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset;
	text-shadow:rgba(255,255,255,0.6) 0 1px;
}
li.tab-title.selected {
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b));
	background-color:rgba(247,223,29,1);
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset,rgba(255,255,255,1) 0 0px 15px;
}

#saveOptBtn {
	background: url('img/icons_01.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#laodCacheBtn {
	background:   url('img/icons_02.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#editInOptionPageBtn {
	background:   url('img/icons_07.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#runBtn {
	background:   url('img/icons_03.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#runSelectedBtn {
	background:   url('img/icons_04.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#deleteBtn {
	background:   url('img/icons_05.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#showInDialogBtn {
	background:   url('img/icons_06.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#enableDisableBtn {
	background:   url('img/disable.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
#optionsBtn {
	background:   url('img/setting.png') no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b)); 
}
input[type=button].init-script-btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6FCB4), color-stop(50%,#D0FC48), color-stop(51%,#B8F400), color-stop(100%,#DFFB8B));
}
input[type=button].run-script-btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6FCB4), color-stop(50%,#D0FC48), color-stop(51%,#B8F400), color-stop(100%,#DFFB8B));
}

#js-editor-hint {
	background-color:white;
	opacity: 0.8;
}
