/* Global Styles */
html body.theme-light { background:rgb(252,252,252); }
.theme-light table.table-grids {background-color:black;}
.theme-light table.table-grids td {background-color:rgb(252,252,252);}


/* Styles for options page */
.theme-light .ui-state-active > .ui-icon-close { background-position: -64px -144px; /* position of ui-icon-check*/}
.theme-light h1 { color:#444; }
.theme-light table#main {
	border-collapse:collapse;
	vertical-align:top;
	box-shadow: rgba(0,0,0,0.1) 0 -10px 20px;
	border-bottom:silver 1px solid;
}
.theme-light .editorPanel { background:#f0f0f0; }
.theme-light .editorPanel .ui-accordion-content,
.theme-light .editorPanel table.table-grids td  { background:rgb(252,252,252); }
.theme-light .jstbox {
	border-bottom:1px solid rgba(0,0,0,0.2);
	border-top:1px solid white;
	background:#f0f0f0;
	text-shadow:white 0 1px;			
	-webkit-transition: background-color 0.2s linear, margin 0.2s linear;
}
.theme-light .jstbox:hover { background:  rgba(200,200,200,0.5); background-repeat: no-repeat; }
.theme-light .jstbox.selected { background: rgba(200,200,200,1); }
.theme-light .jstbox.siteScriptKey.autostart { background-image: url(img/autostart.png); }
.theme-light .jstbox.contentScriptGroup { background: rgba(200,200,200,0.6) url(img/folder-opened.gif) no-repeat left center; }
.theme-light .jstbox.contentScriptGroup.closed { background: rgba(200,200,200,0.6) url(img/folder-closed.gif) no-repeat left center; }
.theme-light .jstbox .include-icon { background-image: url(img/autostart.png); }
.theme-light .jstbox .plugin-icon { background-image: url(img/plugin.png); }
.theme-light .jstbox.top .plugin-icon { background-image: url(img/plugin-top.png); }
.theme-light #jstmessage {
	background:rgba(252,252,252,1);
	box-shadow:rgba(0,0,0,0.4) 0 3px 10px;
	border:1px solid rgba(147,123,19,1);
}
.theme-light #contentscript-menu .jstbox.contentScriptKey .group { color: #aaaaaa; }
.theme-light .jstmessage.ok { color:white; background:green;	}
.theme-light .jstmessage.error { color:white; background:red; }
.theme-light .hiddenFlag { color:#999; }
.theme-light #dcsmultiselect .dcsmultiselect { 	background-image: url('img/check.png'); }


/* Common styles for both options window and popup window */
.theme-light div.tabs > ul li,
.theme-light #tabs > ul li,
.theme-light li.tab-title {	
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset;
	text-shadow:rgba(255,255,255,0.6) 0 1px;	

  /* copied from jquery-ui.theme-light.css at line 51 */
	color: #555555;
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQEAAAAAAao4lEAAAAAmJLR0T//xSrMc0AAAAJcEhZcwAAAEgAAABIAEbJaz4AAABISURBVDjLY3iXxzCKRhHV0bNnDM+NGJ7fYXgxk+FlJsOrOIbXIQxvYhjepjK8i2Z4H8DwwZjhIzPDx7UMn+QYPhmOolFEDAIAjUD2JAAuNW8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTYtMDEtMDNUMDc6MzU6MDQrMDA6MDAAVb7rAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE2LTAxLTAzVDA3OjM1OjA0KzAwOjAwcQgGVwAAAABJRU5ErkJggg==") 50% 50% repeat-x;
}
.theme-light div.tabs > ul li:hover,
.theme-light #tabs > ul li:hover,
.theme-light li.tab-title:hover {
  /* copied from jquery-ui.theme-light.css at line 66 */
	color: #000000;
	border: 1px solid #999999;
	background: #dadada url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQEAAAAAAao4lEAAAAAmJLR0T//xSrMc0AAAAJcEhZcwAAAEgAAABIAEbJaz4AAABISURBVDjLY3j6n2EUjSKqo1u3GG57MdxxY7gby3BvIsP9PwwPMxgefWB4Us7w9DHDcz+GF/MYXl5ieHWW4XUpw+uJo2gUEYMAvlejJVIWsXwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTYtMDEtMDNUMDc6MzU6MDQrMDA6MDAAVb7rAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE2LTAxLTAzVDA3OjM1OjA0KzAwOjAwcQgGVwAAAABJRU5ErkJggg==") 50% 50% repeat-x;
}
.theme-light div.tabs > ul li.selected,
.theme-light #tabs > ul li.selected,
.theme-light li.tab-title.selected {
  /* copied from jquery-ui.theme-light.css at line 88 */
	color: #212121;
	border: 1px solid #aaaaaa;
	background: #ffffff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQAQAAAABHIzd2AAAAAmJLR0QAAd2KE6QAAAAJcEhZcwAAAEgAAABIAEbJaz4AAAARSURBVCjPY2hgGIWjcBTigACVaMgB0zSxaQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNi0wMS0wM1QwNzozNTowMyswMDowMMXygGUAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMDEtMDNUMDc6MzU6MDMrMDA6MDC0rzjZAAAAAElFTkSuQmCC") 50% 50% repeat-x;
}


/* Styles for popup window */
.theme-light #optionsBtn .img {
	background:   url('img/setting.png') no-repeat center;
}

.theme-light #title {
	background-color: yellow;
}
.theme-light #js-editor-hint {
	background-color:white;
	opacity: 0.8;
}


/* Styles for CodeMirror */
.theme-light .CodeMirror-completions {
  border:1px solid rgba(124,122,12,1);
  box-shadow: 2px 3px 5px rgba(0,0,0,.4);
}
.theme-light .CodeMirror-completions select {
  background: #fff;
}
.theme-light .CodeMirror-gutters {
    box-shadow: rgba(0,0,0,0.4) 2px 0 20px;
}

/* Styles for the selected text */
.theme-light .highlighted-background { background-color: rgba(255,255,119, 1); }
.theme-light .highlighted-scrollbar { 
  background: gold;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}

/* styles from lib/codemirror/theme/default.css */
.cm-s-_yellow .cm-header {color: blue;}
.cm-s-_yellow .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-_yellow .cm-keyword {color: #708;}
.cm-s-_yellow .cm-atom {color: #219;}
.cm-s-_yellow .cm-number {color: #164;}
.cm-s-_yellow .cm-def {color: #00f;}
.cm-s-_yellow .cm-variable,
.cm-s-_yellow .cm-punctuation,
.cm-s-_yellow .cm-property,
.cm-s-_yellow .cm-operator {}
.cm-s-_yellow .cm-variable-2 {color: #05a;}
.cm-s-_yellow .cm-variable-3 {color: #085;}
.cm-s-_yellow .cm-comment {color: #a50;}
.cm-s-_yellow .cm-string {color: #a11;}
.cm-s-_yellow .cm-string-2 {color: #f50;}
.cm-s-_yellow .cm-meta {color: #555;}
.cm-s-_yellow .cm-qualifier {color: #555;}
.cm-s-_yellow .cm-builtin {color: #30a;}
.cm-s-_yellow .cm-bracket {color: #997;}
.cm-s-_yellow .cm-tag {color: #170;}
.cm-s-_yellow .cm-attribute {color: #00c;}
.cm-s-_yellow .cm-hr {color: #999;}
.cm-s-_yellow .cm-link {color: #00c;}

.cm-s-_yellow .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

span.cm-header, span.cm-strong {font-weight: bold;}
span.cm-em {font-style: italic;}
span.cm-emstrong {font-style: italic; font-weight: bold;}
span.cm-link {text-decoration: underline;}

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}

