
		html,body{margin:0;padding:0;font-family:Verdana;height:100%;font-size: 75%;min-width:850px;}
		#backupToolbar {
		  display:block;
		  margin-right:60px;
		  float:right;
		  position:relative;
		  top:-25px;
		}
		#helpicon {
		  display:inline-block;
		  width: 24px;
		  height: 24px;
		  vertical-align: middle;
		  background-image: url("theme/img/question_mark_icon.png");
		}
		.ui-widget-content {
			background: #efefba;
		}
		.tooltip {
			background: #ffffff;
		}
		#page-title{
			text-align:right;
		}
		h1{
			line-height:1em;
			font-size: 18px;
			margin:0px;
			color:#444;
		}
		table#main{
			border-collapse:collapse;
			vertical-align:top;
			box-shadow: rgba(0,0,0,0.1) 0 -10px 20px;
			border-bottom:silver 1px solid;
		}
		
		#jsscriptfile
		{
			width:600px;
		}
		.jstbox{
		  position: relative;
			border-bottom:1px solid rgba(0,0,0,0.2);
			border-top:1px solid white;
			background:#efefba;
			cursor:pointer;
			margin:0 0 0 0px;			
			/*text-shadow:white 0 1px;		*/	
			-webkit-transition: background-color 0.2s linear, margin 0.2s linear;
			overflow:hidden;
			height: 20px;
		}
		
		.jstbox:hover
		{
			background:  rgba(247,223,29,0.5);
		}
		.jstbox.selected
		{
			background: rgba(247,223,29,1) ;			
			font-weight:900;
		}
		.jsttitle
		{
			font-size:11pt;			
			line-height:20px;
			float:left;
		}
		
		.jstbox.selected:hover img.edit
		{
			visibility: visible;
			opacity:1;
		}
		.jstbox.siteScriptKey .jsttitle {
			margin-left: 20px;
		}
		.jstbox.autostart {
			background-repeat: no-repeat; 
		}
		.jstbox.siteScriptKey.autostart {
			background-position: 0 center; 
		}
		.jstbox.contentScriptKey.autostart {
			background-position: right center; 
		}
		.jstbox.plugin .jsttitle {
			background-repeat: no-repeat; 
			background-position: 2px center; 
		}
		#contentscript-menu .jstbox.contentScriptGroup .group
		{
			position: relative;
			left: 15px;
			font-variant: small-caps bold;
			font-size: 16px;
			/*text-transform: capitalize;*/
		}
		#contentscript-menu .contentScriptKey.jstbox.closed
		{
			display: none;
		}
		#contentscript-menu .jstbox.contentScriptKey span
		{
			position: relative;
			/*top: 4px;*/
		}
		#contentscript-menu .jstbox.contentScriptKey .index
		{			
			display: inline-block;
			font-size: 10px;
			min-width: 35px;
			text-align: right;
		}
		#contentscript-menu .jstbox.contentScriptKey .name {			
			font-size: 11px;
			display: inline;
		}
		#contentscript-menu .jstbox.contentScriptKey .title {		
			font-size: 11px;
			display: none;
		}
		#contentscript-menu.showTitle .jstbox.contentScriptKey .name {			
			display: none;
		}
		#contentscript-menu.showTitle .jstbox.contentScriptKey .title {
			display: inline;
		}
		#contentscript-menu .jstbox.contentScriptKey .group
		{
			display: none/*inline*/;
			color: #aaaaaa;
			font-size: 10px;
			position: absolute;
			top: -6px;
			left: 50px;
		}
		#contentscript-menu .jstbox.contentScriptKey .iconset {
		  height: 100%;
		  position:absolute;
		  right: 0px;
		  /*background-color: red;*/
		}
		#contentscript-menu .jstbox.contentScriptKey .iconset .icon {
		  display: none;
		  width: 16px;
		  height: 20px;
		  background-repeat: no-repeat;
		  background-position: center center;
		}
		#contentscript-menu .jstbox.contentScriptKey.plugin .plugin-icon {
		  display: inline-block;
		}
		#contentscript-menu .jstbox.contentScriptKey.include .include-icon {
		  display: inline-block;
		}
		#script-list .jstbox .select
		{
			position: absolute;
			top: 0px;
			left: 0px;
			display: none;
		}
		#script-list.multi-select .jstbox .select
		{
		  display: block;
		}
		#contentscript-menu .jstbox .select input[type=checkbox]
		{
			position: relative;
			top: 0px;
			margin: 0 0 0 2px;
		}
		#contentscript-menu .jstbox.file .select input[type=checkbox]
		{
			margin: 0 0 0 8px;
		}
		#settings-list .jstbox {
		  height: 30px;
		}
		#settings-list .jsttitle {
		  line-height: 30px;
		}
		#jstmessage
		{
			position:fixed;
			top:-50px;
			left:50%;
			margin-left:-250px;
			text-align:center;
			line-height:30px;
			line-height:30px;
			font-weight:900;
			width:500px;
			height:30px;
			padding:0 10px;
			background:rgba(247,223,29,1);
			box-shadow:rgba(0,0,0,0.4) 0 3px 10px;
			border-radius:0 0 5px 5px;
			border:1px solid rgba(147,123,19,1);
			border-top:0px;
			z-index:2000;
		}
		.jstmessage.ok
		{
			color:white;
			background:green;			
		}
		.jstmessage.error
		{
			color:white;
			background:red;
		}
		.jsttextarea, .CodeMirror
		{			
			max-width:99%;
			min-width:99%;
			border-top:1px solid #666;
			/*background:white;*/
			font-size:11px;
		}
		.CodeMirror,.CodeMirror-scroll{
			height:100%;
			/*background: white right top no-repeat;
			background-size: contain;*/
		}
		
		
		label{
			cursor:pointer;
		}
		img.goto
		{
			position:absolute;
			right: 5px;
			margin:4px 0 0 5px;;
		}
		img.edit
		{
			visibility: hidden;
			opacity:0;
			-webkit-transition: opacity 0.2s linear
		}
		.hiddenFlag{
			color:#999;
		}
		.jstricks input[type=button]
		{
			padding:3px 10px;
			cursor:pointer;/*
			border:1px solid rgba(124,122,12,1);
			background-color:rgba(247,223,29,1); 
			background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf1b4), color-stop(50%,#fce448), color-stop(51%,#f4d300), color-stop(100%,#fbec8b));
			box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset;
			text-shadow:rgba(255,255,255,0.6) 0 1px;*/
		}/*
		input[type=button]:hover,input[type=button]:focus
		{
			box-shadow: rgba(0,0,0,0.2) 0 -1px 2px inset,rgba(255,255,255,1) 0 1px 2px inset,rgba(247,223,29,1) 0 0px 15px;
		}
		input[type=button]:active
		{
			box-shadow: rgba(0,0,0,0.2) 0 1px 2px inset,rgba(255,255,255,1) 0 -1px 2px inset,rgba(255,255,255,1) 0 0px 15px;
			background-color:rgba(227,203,09,1);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ebc6), color-stop(50%,#e7d069), color-stop(51%,#dfbc21), color-stop(100%,#efe1a3));
		}*/
		.jstricks input[type=checkbox]
		{
			position:relative;
			top:1px;
			margin:10px 5px 0 ;
		}
		#centercontainer div.tabs > ul{
			padding:0px;
			margin:0px 0px;
			line-height:25px;
			height: 25px;
		}
		#centercontainer #toptabs.tabs > ul{
			line-height:30px;
			height: 30px;
		}
		div.tabs > ul li
		{
			display:inline-block;
			cursor:pointer;			
			padding:0px 10px;
		}
		#donateDiv
		{
			margin:10px auto;
			text-align:center;
		}
		
		.jstricks .ui-dialog
		{
			z-index:200;
		}
		
		#floatingWindow code
		{
			font-size:1.35em;
			background:#EFEFBA;
		}
		
		#floatingWindow pre, #floatingWindow pre code
		{
			font-size:1.1em;
			background:#EFEFEF;
		}
		#floatingWindow .loadingimg
		{
			display:block;
			margin:230px auto 0;
		}
		
		#floatingWindow .toc
		{
			background:#EFEFAA;
			padding:2px 10px;
		}
		#floatingWindow .entry-title
		{
			display:inline;
		}
		#floatingWindow .entry-meta
		{
			float:right;
			font-size:0.8em;
		}
		#floatingWindow p.desc
		{
			clear:both;
		}
		
		#script-list .actions {
		  height: 56px; 
		  padding: 0  0  0  5px;
		}
		
		#script-list .actions input, #script-list .actions button, #script-list .actions label {
			padding: 0 0 0 0;
			width: 44px;
			height: 22px;
			margin: 4px 0 0 0;
		}
    #script-list .actions label {
			width: 42px;
			height: 20px;
    }
    #script-list .actions .ui-button-text-only .ui-button-text {
      padding: 3px;
    }
		
		#script-list #contentscript-menu {
		  overflow:auto;
		  min-width:200px; 
		  position:absolute; 
		  top: 58px;
		  bottom:0; 
		  left:0; 
		  right:0;
		}
		
		#centercontainer
		{
			position:absolute;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			padding-top: 28px;
			padding-bottom:40px;
		}
		.header
		{
			position:fixed;
			top: 0px;
			right: 0px;
			width: 100%;
		}
		#centercontainer div.tabs{
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			padding: 0 0 0 0;
			overflow: hidden;
		}
		div.tabs >div.tab
		{
			position:absolute;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			height:100%;
			padding:0px 0px 40px 0px;
		}
		
		div.tab div.editwrap {
			position: relative;
			height:100%;
		}
		.navbar
		{
			position: absolute;
			left: 0px;
			width: 250px;
			height: 100%;
			overflow: auto;
			font-variant:small-caps;
		}
		
		.editorPanel
		{
			position:relative;
			height: 100%;
			margin-left: 250px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-left:1px solid silver;
			border-top:white 1px solid;
		}
		
		#tabs-gs .editorPanel {
			margin-left: 150px;
		}
		
		#editorJs, #editorScripts {
		  padding-top: 3px;
		}
		
		#tabs-options .editorPanel
		{
			margin-left: 0px;
			overflow: auto;
		}
		
		.hidableEditorArea
		{
			height:100%;
			position:relative;
		}
		.editorPanel .toolbar {
			position:absolute;
			right: 10px;
			display:block;
			z-index: 2000;
		}
		
		.editorPanel .toolbar.left {
		  left: 0;
		  right: 250px;
		}
		
		.editorPanel table.toolbar-left {
			width: 100%;
			/* border: 1px solid #ccc; */
			border-collapse: collapse;
		}
		
		.editorPanel table.toolbar-left td {
			padding: 0 0;
			border: 0px solid #000000;
		}
		
		#tabs-sss .toolbar.left {
		}
		
		.autostartBtn {
		  width: 100px;
		}
		
		.importOnceBtn {
		  width: 120px;
		}
		
		.saveBtn {
		  width: 60px;
		}
		
		.deleteBtn {
		  width: 60px;
		}
		
		#tabs-sss .findReplaceDialogBtn {
		  width: 128px;
		}
		
		#tabs-dcs .findReplaceDialogBtn {
		  width: 149px;
		}
		
		#tabs-sss div.tabs {
			position:absolute;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			/*
			width: 100%;
			height:100%;
			padding:0px 0px 40px 0px;*/
			right: 0;
			bottom: 0;
			top: 30px;
			height:auto;
		}
		
		#tabs-dcs div.tabs {
			position:absolute;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			/*
			width: 100%;
			height:100%;
			padding:0px 0px 40px 0px;*/
			right: 0;
			bottom: 0;
			top: 30px;
			height:auto;
		}
		
		.forward-backward {
		  display: inline-block;
		  margin-left: 10px;
		  line-height: 25px;
		  height: 25px;
		}
		
		.forward-backward button {
		  position: relative;
		  top: -2px;
		  width: 24px;
		  height: 20px;
		}
		
		#dcsgencodebytemplate {
		  width: 80px;
		}
		
		.localstorage_itemvalue .option {
			display: inline-block;
			width: 20px;
		}
		
		.settingPanel {
			height: 100%;
			width: 100%;
			position:absolute;
			overflow: auto;
		}
		
		#cloudrestore-keys .key {
			display: inline-block;
			width: 150px;
		}
		
		.settingKey {
		  padding-left: 5px;
		}
		
		#json-viewer-tabs {
			position:absolute;
			left: 0px;
			top: 100px;
			bottom: 0px;
		  width: calc(100% - 200px);
		  height: calc(100% - 100px);
		  padding: 0 0 0 0;
		  margin: 0 0 0 0;
		  border-width: 0;
		}
		
		#json-viewer-site-list {
		  position: absolute;
		  top: 100px;
		  right: 0;
		  width: 195px;
		  padding: 5px 2px 2px 2px;
			z-index: 2;
		  height: calc(100% - 100px - 7px);
		  overflow-y: auto;
		}
		
		#json-viewer-tabs .ui-tabs-panel {
			position:absolute;
			width: 100%;
			top: 34px;
			bottom: 0px;
			padding: 2px 0px 5px 0px;
		}
		
		#json-viewer-tabs-1 .CodeMirror {
			height: 100%;
		}
		
		#json-viewer-tabs-2 .CodeMirror {
			height: 100%;
		}
		
		#settings-release-notes .releasenote-version {
			margin: 10px 0 0 0;
		}
		
		#settings-release-notes .releasenote-version.nextversion {
			display: none;
		}
		
		#settings-release-notes ol, #settings-release-notes ul {
			margin: 0 0 0 0;
		}
		
		#settings-manual h5 {
			margin-left: 20px;
		}
		
		#settings-global table.localstorage_block {
		  margin-left:10px;
		}
		
		#settings-global table.localstorage_block h3 {
			font-weight: bold;
			border-top: solid 1px;
			margin-bottom: 0;
		}
		
		#settings-global table.localstorage_block tr.localstorage_item  td {
		  padding-left: 15px;
		}
		/*
		::-webkit-scrollbar {
			width: 12px;
		}
		 
		::-webkit-scrollbar-track {
			background: #e0e09f;
			border-right:1px inset silver;
		}
		 
		::-webkit-scrollbar-thumb {
			background: #f7e768;
			border:1px solid;
			border-color:white gray gray silver;
		}
		::-webkit-scrollbar-thumb:hover {
			background: rgba(247,223,29,1);
		}
		::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(247,223,29,0.2)
		}*/